<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}


<center>
    <h1>order</h1>
    <br></center>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
  <label class="form-label">address</label>
  <input type="text" class="form-control" name="a" placeholder="Enter the address">
</div>
    <div class="mb-3">
  <label class="form-label">phonenumber</label>
  <input type="number" class="form-control" name="p" placeholder="Enter the phnnumber">
</div>
    <div class="mb-3">
  <label class="form-label">accountnumber</label>
  <input type="number" class="form-control" name="n" placeholder="Enter the accountnumber">
</div>
     <div class="mb-3">
  <input type="submit" class="form-control" value="submit">
</div>

</form>

{% endblock %}